<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency converter</title>
    <style></style>
</head>
<body>
<div>
    <h1>Currency converter</h1>
    <form th:action="@{/}" th:object="${currencyConverter}" method="post">

        <input type="number" id="amount" th:field="*{amount}" min="0"/>
        <select id="from" th:field="*{fromCurrency}">
            <option th:each="currencyCode : ${currencyCodes}" th:value="${currencyCode}"
                    th:text="${currencyCode}"th:selected="${fromCurrency}"></option>
        </select>
        <input type="number" id="convertedAmount" th:field="*{convertedAmount}" min="0"/>
        <select id="to" th:field="*{toCurrency}">
            <option th:each="currencyCode : ${currencyCodes}" th:value="${currencyCode}"
                    th:text="${currencyCode}"th:selected="${toCurrency}"></option>
        </select>
        </form>
</div>


</body>
</html>