<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency converter</title>
    <style></style>
    <link rel="stylesheet" href="/css/currency.css">
    <script>
         function submitForm() {
            document.getElementById("currencyForm").submit();
        }
         function setupAutoSubmit() {
            var inputs = document.querySelectorAll('#currencyForm input');
            var selects = document.querySelectorAll('#currencyForm select');
            selects.forEach(function(input) {
                input.addEventListener('change', submitForm);
            });
            inputs.forEach(function(input) {
                input.addEventListener('change', submitForm);
            });
        }

        document.addEventListener('DOMContentLoaded', setupAutoSubmit);

    </script>
</head>
<body>
<div>
    <h1>Currency converter</h1>
    <h2 th:text="${conversionResult}"> </h2>
    <form th:action="@{/}" id="currencyForm" th:object="${currencyConverter}" method="post">

        <input type="number" id="amount" th:field="*{amount}" min="0"/>
        <select id="from" th:field="*{fromCurrency}">
            <option th:each="currencyCode : ${currencyCodes}" th:value="${currencyCode}"
                    th:text="${currencyCode}"th:selected="${fromCurrency}"></option>
        </select>
        <input type="number" id="convertedAmount" th:field="*{convertedAmount}" min="0"/>
        <select id="to" th:field="*{toCurrency}">
            <option th:each="currencyCode : ${currencyCodes}" th:value="${currencyCode}"
                    th:text="${currencyCode}"th:selected="${toCurrency}"></option>
        </select>
        </form>
</div>


</body>
</html>